
/* 
    Created on : 28/10/2020, 16:07:41
    Author     : Bruno Tarditi 
*/

.form1{

    background-color: white;
    padding: 20px;
    margin: 100px auto;
    width: 400px;
    
}

.form2{
    text-align: center; 
    margin-top: 0;
}


.contain {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.box { 
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 380px;
    outline: none;
}

.submit1 {
    text-decoration: none;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #EA8008;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit1:hover {
    background-color: #FCC17D;
}
.submit2 {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit2:hover {
    background-color: #43a09d;
}

.tipografia{
    font-family: Helvetica, Arial, sans-serif;
}




